ion-content {
  --background: url('../../../../assets/back-login.jpg') center center;
  /*  SVG QUE EU CRIEI DO SITE LA DE GERADOR DE SVG
background-color: #0c84c4;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cccccc' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%235b41aa' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23c5c5c4' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%236341a3' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23bdbebc' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2368429c' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23b6b7b4' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%236d4395' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23afb1ad' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%2370448e' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23a8aaa5' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23724688' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
*/
}

ion-card {
  --background: white;
}
